.cardDeck {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  &_loader, &_error {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}